.banner {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

h3 {
  display: inline-block;
  color: white;
}

.main-heading {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
  margin-right: -2rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  display: block;
  opacity: 0.7;
}

html, body {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

a {
  margin-right: 2rem;
  color: white;
  text-decoration: none;
}

.services {
  display: flex;
  justify-content: center;
}

.box {
  max-height: 8rem;
  max-width: 5rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.box img.paper-icon {
  max-width: 3.5rem;
}

.box img {
  max-width: 5rem;
}

.info {
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  width: 10rem;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.blurb {
  width: 35%;
  margin-right: 5%;
}

footer {
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
  margin-top: 5rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (min-width:1024px){
  nav.mobile-nav {display:none;}}

@media only screen and (max-width:1024px){
  .wrapper {
    width: 100%;
  }
  .banner {
    padding-top: 0rem;
  }
  h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
  .main-heading {
    margin-top: 5rem;
    margin-right: 2rem;
  }
  nav.desktop {
    display: none;
  }
}

@media only screen and (max-width:600px){
.banner {
  background-position: 20%;
  height: 17rem;
}
h3 {
  display:none;
}
.main-heading {
  margin: 9rem 0rem 0rem 0rem;
  display: block;
}
h1 {
  font-size: 1rem;
  text-align: center;
  padding-top:1rem;
  padding-bottom: 1rem;
}
.services {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3.77rem 0rem;
}
.box {
  justify-content: flex-start;
  margin: 0rem;
}

.fittings, .delivery {
  padding-top: 1.54rem;
}
.info {
  flex-direction: column;
  align-items: center;
}
.blurb {
  width: 100%;
  margin-right: 0rem;
}
.philosophy {
  margin-bottom: 4rem;
}
h2 {
  width: 100%;
  text-align: center;
}
body {
  font-size: 0.77rem;
}
.copyright {
  display: none;
}
footer {
  justify-content: center;
}
}
